span.comment-switch {
  vertical-align: center;
  margin-left: auto;
  color: #666;
}

span.comment-switch:hover {
  cursor: pointer;
  text-decoration: underline;
}

div.comment-box {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  min-height: 27px;
  background-color: #f7f7f7;
  font-size: 13px;
  padding: 16px;
  margin-top: 8px;
  border: 0;
  border-radius: 2px;
}

div.new-comment {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  line-height: 1.5;
  vertical-align: middle;
  word-break: break-word;
  padding: 3px 5px 4px;
  background-color: #fff;
  min-height: 27px;
}

div.comment-index {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.comment-action-bar {
  width: 100%;
  display: flex;
}

div.expand-comment-link {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 4.5px;
}

.comment-avatar {
  margin-right: 8px;
}

div.comment-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.user {
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

li.comment {
  display: flex;
  padding: 16px 8px 0 0;
}

div.comment-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

span.comment-timestamp {
  padding-bottom: 4px;
}

span.comment-body {
  margin-top: 4px;
}
