.box {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}

div.detail-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 52px;
  bottom: 0;
  z-index: -1;
  background-color: #fff;

  display: flex;
  justify-content: center;
  margin-top: -82px;
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.outer-header {
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2)
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 52px;
  max-height: 53px;
  box-sizing: border-box;
  opacity: 100%;
  background-color: #fff;
}

.header > * {
  color: #666;
}

div.header-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;

}

div.header-nav {
  display: flex;
  align-items: center;
  padding: 0 8px;
  line-height: 52px;
}

.header-nav > * {
  display: flex;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  border-bottom: 2px solid transparent;
  padding: 0 14px;
  box-sizing: border-box;
}

.nav-item:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

.nav-item-icon svg {
  width: 24px;
  height: 23px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: -6px;
  background-size: contain;
}

h2.logo {
  width: 85px;
  height: 50px;
  font-size: 27px;
  text-align: left;
  vertical-align: middle;
}

div.header-contents > a:hover {
  text-decoration: none;
}

a.nav-item.active-nav {
  color: #b92b27;
  // --icon_color: #b92b27;
  border-color: #b92b27;
  opacity: 1;
}

a.nav-item.active-nav > .nav-item-icon > svg path {
  fill: #b92b27;
}

a.active-nav:hover {
  background-color: #fff;
  text-decoration: none;
}

div.search-container {
  padding: 12px 8px 11px 0;
  line-height: 1.4;
  box-sizing: border-box;
  height: 52px;
}

textarea.search {
  overflow-x: hidden;
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
  height: 29px;
  width: 415px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  box-sizing: border-box;
  padding: 3px 8px 3px 26px;
  background: image-url("search-icon.png") no-repeat 8px center;
  background-size: 13px;
  vertical-align: center;
  box-shadow: inset 0 1px 1px rgba(200,200,200,0.3)
}

textarea:focus {
  outline: none;
}

div.ask-question {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: #fff;
  vertical-align: middle;
  font-size: 14px;
  background-color: white;
  height: 52px;
  margin-right: auto;
}

button.question-btn {
  // font-size: 12px;
  color: #fff;
  margin-left: 8px;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  line-height: 1.4;
  box-sizing: content-box;
  padding: 3px 7px 4px 7px;
  border: 1px solid #6c1b17;
  background: #b92b27;
  width: 83.25px;
  height: 19.5px;
  transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
}

button.question-btn:active {
  opacity: .7;
}

html, .content {
  // background-color: #f9f9f9;
}

// Might need to add to topics.scss when I get there



div.feeds-sidebar {
  position: sticky;
  top: 150px;
  // float: left;
  // clear: left;
  // top: 83px;
  width: 142px;
  margin-bottom: 32px;
  font-size: 13px;
}

div.feeds-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 8px;
}

div.feeds-header > h4 {
  color: #333;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21px;
  text-size-adjust: 100%;
}

div.feeds-header > span.edit {
  font-weight: 400;
  color: #999;
}

div.feed-list {
  list-style: none;
  color: #666;
}

div.feed-list div.feed {
  width: 142px;
  height: 18px;
  padding: 4px 5px;
  margin-left: -5px;
  margin-bottom: 4px;
}

div.feed-list > a:hover {
  text-decoration: none;
  color: #2b6dad;
  cursor: pointer;
}

div.feed-list > .selected-feed {
  background-color: #ececec;
  border-radius: 3;
  cursor: default;
}





// end
