.modal-wrapper {
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}

.modal-backdrop {
  transition: .1s;
  z-index: 9001;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.65);
  overflow: hidden;
}

div.modal-backdrop > * {
  background: #fff;
  border-radius: 4px;
  width: 620px;
  opacity: 1;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
}

div#create-modal.modal {
  position: fixed;
  top: 200px;
}

div#edit-modal.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-x {
  height: 20px;
  width: 20px;
  padding: 12px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

path.close-x {
  stroke: black;
  stroke-width: 2;
}

span.modal-x:hover {
  cursor: pointer;
}

span.modal-x:hover path.close-x {
  stroke: #2b6dad;
}

div.modal-content {
  width: 556px;
  padding: 32px 32px 24px 32px;
}

div.modal-space {
  width: 556px;
  height: 20px;
}

textarea.modal-textarea {
  width: 556px;
  margin-top: 8px;
  padding-bottom: 8px;
  border: none;
  resize: none;
  font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;

}
