body, main, p, h1, h2, h3, h4, span, div, form, label, ul, li, a {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: transparent;
}

a:hover {
  text-decoration: underline;
  cursor: auto;
}
