<!DOCTYPE html>
<html>
  <head>
    <title>AskApp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Neuton" rel="stylesheet">

    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.1/quill.snow.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '1833474020296018',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v2.10'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
